{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>About</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, architecto. Et earum placeat quae provident! Culpa, provident hic mollitia atque excepturi quia pariatur dicta explicabo asperiores quas alias doloremque amet!
        </p>
    </div>

    <div class="col-4">
        <img src="./assets/img/1.jpg" class="img-thumbnail">
    </div>
</div>

{{>footer }}